<!DOCTYPE HTML>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv= "X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<title>Portfolio Website</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<link rel = "stylesheet" href="./static/css/app.css" >
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<script src="https://kit.fontawesome.com/871dc7239c.js" crossorigin="anonymous"></script>
</head>
<body>
	
	<header>
		
			<!------------Navigation Bar---------->
			<nav class = "flex items-center justify-between ">
					<div class = "left ">
						<a href = '#'><b>&lt Swati Narang /&gt</b></a>
					</div>
					<div class = "right ">
						<a href = '#home'>Home</a>
						<a  href = "#Education">Education</a>
						<a href = '#Experience'>Experience</a>
						<a href = '#Certifications'>Certification</a>
						<a href = '#project'>Projects</a>
						<a href = '#skills'>Skills</a>
						<a href = '#Contact'>Contact</a>
					</div>
				</nav>
	</header>
	<!--------------------------------------Home-------------------------------------->
	<section id = "home" class = "home">
		<div class = "container_1">
			<div class = "Images flex justify-between">
				<div class = "left justify-center">
					<img src = "static/images/Profile.png" alt ="">
				</div>
				<div class ="right">
					<div class = "inner">
						<h6>Hey! I am </h6>							
						<h1 data-aos = "zoom-in-up" data-aos-easing = "ease-in-sine">Swati Narang</h1>
						<p>Senior Associate Consultant with 4.5 years of Experience executing data-driven solutions to increase
							efficiency, accuracy and utility of predictive analytics. Enthusiastic about getting myself familiar with new 
							emerging technologies - AR, VR, Blockchain, Extended Reality, and fusion of Technology & Art. 
							Passionate to work with maximum potential in a challenging and dynamic environment with an opportunity of working with 
							diverse group of people and enhancing my professional skills with learning and experience for career growth.</p>
					</div>
					<div class = "center">
						<a href = "https://github.com/swatinarang1225">
							<button class ="btn"><i class="fa-sharp fa-solid fa-star"></i> Star Me on Github</button>
						</a>
					</div>
						
						
				</div>	
			</div>		
		</div>
	
	<!-- -----------------------------------About Page --------------------------------- -->

		<div  id = "about">
			<h1 class ="span">About Me</h1>
				<p>I have  pursued Bachelor Of Technology in Computer Science and Engineering <b>(CSE)</b> at U.I.E.T, Kurukshetra University, Kurukshetra. 
						I love to build softwares and hardware projects.
						Currently Learning Deep Learning and Natural Language Processing,
						When I'm not coding or tweeting
						you'll find me playing tabe tennis, swimming, singing or with headphones.
				</p>
				
			<div class = "social">
					<a href='mailto: swatinarang1225@gmail.com'><img src = "static/images/Email_logo.png" alt=" "></a>
					<a href='https://www.facebook.com/swati.narang.35/'><img src = "static/images/Fb_logo.png" alt=" "></a>
					<a href='https://twitter.com/NarangSwati12'><img src = "static/images/Twitter.png" alt=" "></a>
					<a href='https://www.linkedin.com/in/swatinarang12/'><img src = "static/images/linkedin.png" alt=" "></a>
			</div>
		</div>		
	</section>
	<!-- ---------------------------------------------SKILLS----------------------------------------------------- -->
	<section id = "skills" class = "skills" >
			<h1 class = "span">What I do ?</h1>
			<div class = "first flex justify-between" >
				<div class = "left" data-aos="slide-right">
					<img src = "static/new_images/img_programming.png" alt = "">
				</div>
				<div class = "right center " data-aos="slide-left">
					<h1>Programming and Scripting Languages</h1>
					<img src = "static/images/Skills_C++.png" alt ="">
					<img src = "static/images/Skills_python.png" alt ="">
					<img src = "static/images/Skills_Java.png" alt ="">
					<img src = "static/images/Skills_HTML.png" alt ="">
					<img src = "static/images/Skills_CSS.png" alt ="">
					<img src = "static/images/Skills_SQL.png" alt ="">
					<div class = "content">
						<br>
							<ul>
								<li> Building Responsive Website front-end using Flask.</li>
								<li> Creating application backened in Django and Flask.</li>
							</ul>
						</div>
				</div>
			</div>
			<div class = " first flex justify-between">
					<div class = "left" data-aos="slide-right">
						<img src = "static/new_images/img_coding_environment.jpg" alt = "">
					</div>
					<div class = "right center " data-aos="slide-left">
						<h1>Coding and Development Environment</h1>
						<img src = "static/images/Skills_Anaconda.jpg" alt ="">
						<img src = "static/images/Skills_Hacker.png" alt ="">
						<img src = "static/images/Skills_Leet.png" alt ="">
						<img src = "static/images/Skills_VSC.png" alt ="">
						<img src = "static/images/Skills_SQLServer.jpg" alt ="">
						<img src = "static/images/Skills_BODS.png" alt ="">
						<img src = "static/images/Skills_Watson.jpg" alt ="">
						<img src = "static/images/Skills_jupyter.png" alt ="">
					</div>
			</div>
			<div class = "first flex justify-between">
					<div class = "left" data-aos="slide-right">
						<img src = "static/new_images/Img_Data_Science.jpg" alt = "">
					</div>
					<div class = "right center " data-aos="slide-left">
						<h1>Data Science and AI </h1>
						<img src = "static/images/Skills_Pandas.png" alt ="">
						<img src = "static/images/Skills_numpy.png" alt ="">
						<img src = "static/images/Skills_Matplotlib.png" alt ="">
						<img src = "static/images/Skills_seaborn.jpg" alt ="">
						<img src = "static/images/Skills_folium.jpg" alt ="">
						<img src = "static/images/Skills_Scipy.png" alt ="">
						<div class = "content">
							<br>
							<ul>
								<li>Developing high Scalable production ready models for various ML and Statistical Usecases</li>
								<li> Develop Python scripts for Prescriptive analysis, Creation of models and visualization methods to 
									communicate the information that helps in the Decision-making process.</li>
							</ul>
						</div>
					</div>
			</div>
		</section>	
	
		<!-- --------------------------------------------- Education   ---------------------------- -->
	<section class = "Education" id = "Education">
			<div class = "Degree center">
					<p class = "span">Education</p>
					<div class = "space flex justify-between justify-center">
						<div class = "left  justify-center ">
							<img  src="static/images/university_logo.png" alt="">
						</div>
						<div class = "right ">
							<div class = "top">
								<div class = " header flex justify-between">
									<div class = "left_1">
										University Institute of Engineering and Technology, Kurukshetra University
									</div>
									<div class = "right_1">
										2014-2018
									</div>
								</div>
								<p>B.Tech in Computer Science and Engineering </p>	
							</div>
							<p>
							<span>&#x2022</span>&nbsp
							My CGPA was 7.68/10. Also, I was selected for Merit cum means scholarship which is given to top 10% students in college.<br>
							<span>&#x2022</span>&nbsp
							I have studied basic software Engineering subjects like DS, Algorithms,DBMS, Operating system,Computer Architecture and AI<br>
							<span>&#x2022</span>&nbsp
							Apart from this, I have done courses on Data Science, Machine Learning and Cloud Computing.
							</p>
							<div class ="button">
								<a href = "https://www.uietkuk.ac.in/index.php">
								<button>Visit Website</button>
							</a>
							</div>
						</div>			
					</div>	
					<div class = "space flex justify-between justify-center">
							<div class = "left ">
								<img  src="static/images/School_logo.PNG" alt="">
							</div>
							<div class = "right ">
								<div class = "top">
									<div class = " header flex justify-between">
										<div class = "left_1">
											Silver Bells Public School, Shamli
										</div>
										<div class = "right_1">
											2012-2013
										</div>
									</div>
									<p>Senior Secondary,CBSE board </p>	
								</div>
								<p>
								<span>&#x2022</span>&nbsp
								My percentage was 91.4%<br>
								<span>&#x2022</span>&nbsp
								I have studied Physics, Chemitry Mathematics as my core subjects<br>
								<span>&#x2022</span>&nbsp
								I have participated in various National Olympiads such as National Science olympiads and Maths olympiads.
								</p>
								<div class ="button">
									<a href = "https://silverbellsshamli.wixsite.com/silverbells">
									<button>Visit Website</button>
								</a>
								</div>
							</div>			
						</div>
						<div class = "space flex justify-between justify-center">
								<div class = "left ">
									<img  src="static/images/School_logo.PNG" alt="">
								</div>
								<div class = "right ">
									<div class = "top">
										<div class = " header flex justify-between">
											<div class = "left_1">
												Silver Bells Public School, Shamli
											</div>
											<div class = "right_1">
												2010-2011
											</div>
										</div>
										<p>High School, CBSE Board </p>	
									</div>
									<p>
									<span>&#x2022</span>&nbsp
									I scored 9.4/10 CGPA. Also, I was selected for the Scholarship  which is given to top 5% students in school.<br>
									<span>&#x2022</span>&nbsp
									I have participated in Various Competitions such as Debate Competitions and Recitation Competitions.Also, I stood 2nd for Javelin throw in atheletics.<br>
									<span>&#x2022</span>&nbsp
									I participated for table tennis intra school events and for Cluster level as well.
									
									</p>
									<div class ="button">
										<a href = "https://silverbellsshamli.wixsite.com/silverbells">
										<button>Visit Website</button>
									</a>
									</div>
								</div>			
							</div>	
				</div>
		</section>
	<!-- ------------------------------Experience----------------------------------- -->
	<section id="Experience" class = "Experience">
			<h2 class = "span">Experience</h2>
				<div class = "card">
						<article>
								<img src="static/images/Infosys_logo.PNG" alt="">
								<div class = "card_1">
									<h3>Senior Associate Consultant</h3>
									October 2022- Present
									<ul style= "padding:1rem; font-size:16px">
										<li>Worked on NLP problem i.e. multiclass classification of various E-mails into classes regarding requests like shipment status, expedite request, FYI cases etc.
										<li>Customized NER to get exporter and importer name from the invoice and other documents.
										<li>Provided solution for classification and NER tasks which can be integrated with cloud technologies.
										
									</ul>	
								</div>
						</article>
						<article>
								<img src="static/images/Infosys_logo.PNG" alt="">
								<div class = "card_1">
									<h3>Associate Consultant</h3>
									October 2021- September 2022
									<ul style= "padding:1rem; font-size:16px">
										<li>Build and anomaly detection model by using Isolation Forest algorithm for the loyalty program of credit cards for a multinational financial services Corporation.
										<li>Responsible for Exploratory Data Analysis by creating meaningful charts such as box blot, histogram,bar plot using Matplotlib.		
									</ul>	
								</div>
						</article>
						<article>
								<img src="static/images/Infosys_logo.PNG" alt="">
								<div class = "card_1">
									<h3>Senior System Engineer</h3>
									January 2021- September 2021
									<ul style= "padding:1rem; font-size:16px">
										<li>Creation/Modification of Dashboards-Fetch data from SQL server if not readily available. 
										<li>Python scripts for Prescriptive analysis, Creation of models and visualization methods to communicate the information that helps in the Decision-making process										
										<li>Applied information extraction technique to save manual effort using AI which increased workflow efficiency by 30%.
									</ul>	
								</div>
						</article>
						<article>
								<img src="static/images/Infosys_logo.PNG" alt="">
								<div class = "card_1">
									<h3>System Engineer</h3>
									November 2018- December 2020
									<ul style= "padding:1rem; font-size:16px">
										<li>Very good understanding & experience in using SAP Data Services user interfaces like SAP Designer, Management console, Server Manager, and creation of Job Server Groups to achieve parallelism and high performance throughput. 
										<li>Good understanding of developing batch Jobs together with sufficient knowledge in using Data Services transforms such as Data Integration, Platform & Data Quality transforms.
										<li>Good Experience in using Microsoft SQL SERVER 2008 R2 as Source & Target data stores in SAP DS.
									</ul>	
								</div>
						</article>
					<article>
						<img src="static/images/Infosys_logo.PNG" alt="">
						<div class = "card_1">
							<h3>System Engineer Trainee</h3>
							June 2018-October 2018
							<ul style= "padding:1rem; font-size:16px">
								<li>Gained hands on knowledge in Python and Advanced SQL during their rigorous training program. 
								<li>Passionately learnt a new technology i.e. SAP ABAP with good experience in working with SAP ABAP forms, reports, web-Dynpro, internal tables and work tables.
								<li>Strong object oriented design skills, knowledge of design patterns, and an uncanny ability to design intuitive module and class-level interfaces.
							</ul>	
						</div>
					</article>
					
					
				</div>
				
			
	</section>
	
	<!-- ------------------------------------ Certifications-------------------------------------------------------- -->
	<section class = "Certifications" id = "Certifications">
			<div class = "container flex  justify-between">
				<div class ="left">
					<img src = "static/images/Certificate_icon.png" alt = "">
				</div>
				<div class = "right justify-center items-center">
					<h2>Basic Qualifications and Certifications</h2>
					<div class = "academic">
						<a href = "https://www.hackerrank.com/swatinarang1225"><img src = "static/images/certi_hackerrank.png" alt = ""></a>
						<a href = "https://www.kaggle.com/swati1203"><img src = "static/images/certi_kaggle.png" alt = ""></a>
						<a href = "https://leetcode.com/Swati_12/"><img src = "static/images/certi_leetcode.png" alt = ""></a>
						<a href = "https://www.codechef.com/users/swati1203"><img src = "static/images/certi_codechef.png" alt = ""></a>
						<a href = "https://www.hackerearth.com/@swati350"><img src = "static/images/certi_hackerearth.png" alt = ""></a>
					</div>
					<div class = "achieve" >
							<ul>
								<li> 5 Star Badge on Hackerrank SQL</li>
								<li> 5 Star Badge on Hackerrank Python</li>
								<li> 3 Star Badge on Hackerrank Problem Solving and C++</li>
								<li> 1  Badge on leetcode for Problem Solving</li>	
							</ul>
					</div>
				</div>
					
			</div>
			
			<div class ="certi_block">
				<h1 class = "span">CERTIFICATIONS</h1>
				<div id = "grid-col">
					<div class = "cell">
						  <a href = "https://www.coursera.org/account/accomplishments/specialization/certificate/A2NLZBLFERJM" target="_blank">
							 <img src = "static/images/certi_IBM.png" alt = ""></a>
						  <div class = "content">
							<p> Data Science</p>
							<p ><span>~ Alex Aklson</span></p>
						</div>
					</div>
					<div class = "cell">
						  <a href = "https://www.coursera.org/account/accomplishments/certificate/KDADC77DLK7X" target="_blank">
							<img src = "static/images/certi_ML.png" alt = ""></a>
						  <div class = "content">
							<p>Machine Learning</p>
							<p><span>~ Andrew Ng</span></p>
						</div>
					</div>
					
					  
				</div>
			</div>
		</section>
	<!-- ------------------------------------Projects-------------------------------- -->
		<section class = "project" id = "project">
				<h1>PROJECTS</h1>
				<div class = "segment flex">
					<div class = "left">
						<a href = "https://github.com/swatinarang1225/IBM-Data-science-Professional-Certificate">
							<img src="static/images/Project_IBM.JPG" alt = "Click here for Github Repository">
						</a>
					</div>
					<div class= "right">
						<p><a href = "https://github.com/swatinarang1225/IBM-Data-science-Professional-Certificate/tree/master/10.%20Applied%20Data%20Science%20Capstone"> <h2>Space X Data Science Capstone</h2> </a>
						In this project, I have worked with real life datasets.
						<br>
						The task was to predict if the 
						first stage of the SpaceX Falcon 9 rocket will land successfully.By 
						<span id = "dots">.....</span><span id = "more">accurately predicting the likelhood
						of the fist stage rocket landing successfully,we can estimated the COST of the launch. The process follow the Data Science methodology
						involving data collection, data wrangling, exploratory data analysis, data visualization, model devlopment, model evaluation
						and reporting results.
						</span>
						&nbsp
						&nbsp
						<a onclick="myReadMore()" id = "myReadMore" style= "color: red " ><i>Read More </i></a>
						<br>
						<br>
						<a href = "https://github.com/swatinarang1225/IBM-Data-science-Professional-Certificate/tree/master/10.%20Applied%20Data%20Science%20Capstone"><img src = "static/images/python_icon.svg" alt = ""></a>							
						&nbsp <a href = ""><img src = "static/images/SQL_icon.png" alt = ""></a>
						</p>	
					</div>
				</div>
				<div class = "segment flex">
					<div class = "left">
						<a href = "https://breast-cancer-detection-webapp.herokuapp.com/">
							<img src="static/images/project front.JPG" alt = "Click here for Github Repository">
						</a>
					</div>
					<div class= "right">
						<p><a href = "https://github.com/swatinarang1225/Breast_Cancer_Detection_ML_Project"><h2>Breast Cancer Detection</h2></a>
						This project is an practical exercise to apply Machine Learning Fundamentals with already prepared Dataset.It is a Web-based application which features detection of Breast Cancer 
						<span id = "dots2">.....</span><span id = "more2">using Machine learning models, Logistic regression.Also, evaluated my results and justify the interpretation based 
						on observed Data set with highest accuracy of 97%. This application is deployed on Heroku platform through API using Flask.
						</span>
						&nbsp
						&nbsp
						<a onclick="myReadMore2()" id = "myReadMore2" style= "color: red " ><i>Read More </i></a>
						<br>
						<br>
						<a href = "https://github.com/swatinarang1225/Breast_Cancer_Detection_ML_Project"><img src = "static/images/python_icon.svg" alt = ""></a>							
						&nbsp <a href = ""><img src = "static/images/SQL_icon.png" alt = ""></a>&nbsp <a href = ""><img src = "static/images/flask.png" alt = ""></a> 
						</p>	
					</div>
				</div>
				<div class = "segment flex">
						<div class = "left">
							<a href = "https://github.com/swatinarang1225/Audio_Based_Sentimental_Analysis">
								<img src="static/images/Sentimental_image.png" alt = "Click here for Github Repository">
							</a>
						</div>
						<div class= "right">
							<p><a href = "https://github.com/swatinarang1225/Audio_Based_Sentimental_Analysis"><h2>Audio Based Sentimental Analysis</h2></a>
							This application aims to perform Sentimental Analysis on pre recorded audio files (.wav format) to obtain results based on emotive modulation on the voice.
							<span id = "dots3">.....</span><span id = "more3">Six different sentiments can be analyzed using sentiment
							package namely anger, disgust, fear, joy, sadness and surprise.This Uses Multilayer Perceptron (MLP) and Long short-term memory (LSTM) neural network to recognize patterns
							in sequences of data, such as text, handwriting and the spoken word.
							</span>
							&nbsp
							&nbsp
							<a onclick="myReadMore3()" id = "myReadMore3" style= "color: red " ><i>Read More </i></a>
							<br>
							<br>
							<a href = "https://github.com/swatinarang1225/Audio_Based_Sentimental_Analysis"><img src = "static/images/python_icon.svg" alt = ""></a>							
							&nbsp <a href = ""><img src = "static/images/SQL_icon.png" alt = ""></a>&nbsp <a href = ""><img src = "static/images/flask.png" alt = ""></a> 
							</p>	
						</div>
					</div>
		</section>
	<!--------------------------------Contact----------------------------------- -->
	<section class="Contact" id = "Contact">
				<h1 data-aos="slide-down" data-aos-easing="linear">
					What's Next ?
				</h1>
				<br>
				<p data-aos="slide-left" data-aos-easing="ease">Reach Out to me !!!!</p>
				
		<div class="first flex justify-between" data-aos="slide-up" data-aos-easing="ease" data-aos-duration = '1000'>
			<br>
			<div class = "left">
				<img src = "static/new_images/Contact2.JPG"> 
			</div>
			<div class = "right center">
			
			<p> I am available on almost every social media.I can help you with ML, AI, Cloud and Opensource Development. Discuss a project, ask a question or just want to say hi?
				 My Inbox is always open,i'll try my best to get to you! 
			</p>
			<div class = "center">
				<a href = "{{ url_for('static', filename='static/Document/SwatiNarangResume.pdf') }}" download = "SwatiNarangResume.pdf">
					<button class ="btn"><i class="fa-solid fa-download"></i> &nbsp Download Resume</button>
				</a>
			</div>
			<br>
			<span class="fa-solid fa-location-dot"></span>
			<span>Hyderabad, India</span>
			<h5>Open for Opputunities: "YES"</h5>
			<div class = "social">
					<a href='mailto: swatinarang1225@gmail.com'><img src = "static/images/Email_logo.png" alt=" "></a>
					<a href='https://www.facebook.com/swati.narang.35/'><img src = "static/images/Fb_logo.png" alt=" "></a>
					<a href='https://twitter.com/NarangSwati12'><img src = "static/images/Twitter.png" alt=" "></a>
					<a href='https://www.linkedin.com/in/swatinarang12/'><img src = "static/images/linkedin.png" alt=" "></a>
					<a href='https://github.com/swatinarang1225'><img src = "static/images/github.png" alt=" "></a>
				
			</div>
		</div>
		</div>
		<div class="first  flex justify-between" data-aos="slide-up"  data-aos-easing="ease" data-aos-duration = '1200'>				
				<div class = "left center">
				<span style = "font-size: 30px ">Address</span>
				<p> E-807 Tower E 8th Floor Bhavyas's Tulasivanam
				<br> Hyderabad-500072
				</p>
				<span style = "font-size: 25px">Phone Number</span>
				<h6 style = "color:gray">+91-8222843564</h6>
			</div>
			<div class = "right">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.131059134263!2d78.4090956!3d17.501256099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91236fcc94bf%3A0x94b74c2d67b37198!2sBhavya&#39;s%20Tulasivanam!5e0!3m2!1sen!2sin!4v1662913067895!5m2!1sen!2sin" width="600" height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			</div>
	</section>
	<center><button id = "to-top" title="Get to Top"><i class="fa-solid fa-angles-up"></i> </button></center>
	<hr>
	<footer class = "footer" id = "footer">
		<span class="left">@Copyright Swati Narang 2022</span>
		<span class ="right">Designed and built by Swati Narang</span>
	</footer>
	<script type = 'text/javascript' src = 'static/js/main.js'></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
			AOS.init({
				offset: 290,
				duration: 1000
			});
	</script>
	
	
</body>



</html>
